@charset "utf-8";
/* CSS Document */

body{margin:0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF;}

#fundo_topo{
	background:url(../imagens/fundo_azul_topo.jpg) repeat-x; 
	height:121px;
}


#topo{
	width:800px;
	border:0px solid #FF0000;
	height:117px;
	margin:0 auto;
}

#titulo_topo{
	font-family:"Earwig Factory", Arial, Helvetica, sans-serif;
	font-size:90px;
	color:#406db9;
	padding-top:22px;
	float:left;
	border:0px solid #FF0000;
}

#busca{
 	font-size:11px;
	padding-top:90px;
	border:0px solid #FF0000;
	float:left;
	margin-left:80px;
}